body{
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background: brown;
    border: 1px solid black;
    border-radius: 5px 15px;
    margin: 30px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
footer{
    border: 1px solid black;
    border-radius: 5px 15px;
    margin: 30px;
    padding: 10px;
    text-align: center;
    background: brown;
    width: 100%;
}

div{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background: brown;
    border-radius: 5px 15px;
    width: 100%;
}
.box{
    background-color: beige;
    border-radius: 0px;
    margin: 0 auto;
}

@media (max-width: 768px) {
        .item {
            width: 45%; /* On smaller screens, items take 45% width */
         }
     }

@media (max-width: 480px) {
    .item {
        width: 100%; /* On very small screens, items stack and take full width */
        margin: 0 0 10px 0; /* Remove side margins for stacked items */
    }
}
